
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --darkcolor: rgb(37, 37, 37);
    --lightcolor: rgb(254, 251, 243);
    --primarycolor: rgb(121, 180, 183);
    --secondarycolor: rgb(157, 157, 157);
    --semilightcolor: rgb(248, 240, 223);

    --board-alert-bg: rgba(241, 241, 241, 0.7);
    --overlaycolor: rgba(0, 0, 0, 0.5);
    --highlightcolor: rgb(107, 238, 243);
    --bghighlightcolor: rgb(0, 0, 0);
    --alertcolor: rgb(255, 255, 0);
    --cellhighlight: rgba(255, 255, 0, 0.3);
    --cellhighlightborder: rgba(255, 255, 0, 0.8);
    --cellselection: rgba(81, 255, 0, 0.3);
    --cellselectionborder: rgba(102, 255, 0, 0.8);

    --board-size: 440px;
    --cell-size: 55px;
}
.hidden, .hidden > * {
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
.btn {
    width: 80%;
    height: 25px;
    margin: auto;
    align-items: center;
    appearance: none;
    background-color: var(--darkcolor);
    border-radius: 25px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--lightcolor);
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease,
                background-color 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
.btn:active, .btn:focus {
    outline: none;
}
.btn:hover {
    color: var(--highlightcolor);
    background-color: var(--bghighlightcolor);
}
.btn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
input {
    width: 90%;
    height: 25px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5px;
    padding: 2px 10px;
    border: none;
    border-radius: 25px;
    color: var(--darkcolor);
    background-color: var(--lightcolor);
}
::placeholder {
    color: var(--primarycolor);
    opacity: 1;
}
.alert {
    font-size: 70%;
    color: var(--alertcolor);
    margin-bottom: 10px;
}
.slide-left {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 1.0s ease-out;
}
.slide-right {
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 1.0s ease-out;
}
.slide-left.appear, .slide-right.appear {
    transform: none;
}
body {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: var(--lightcolor);
    color: var(--lightcolor);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body:hover {
    cursor: default;
}
header {
    text-align: center;
    color: var(--darkcolor);
}
h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}
h3 {
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
#contact-note {
    position: fixed;
    top: 0px;
    right: 0px;
    color: var(--lightcolor);
    background-color: var(--darkcolor);
    margin: 0px;
    padding: 5px 5px 10px 10px;
    font-size: 12px;
    border-bottom-left-radius: 30px;
    z-index: 5;
    transition: color 0.3s ease,
                background-color 0.3s ease,
                transform 1.0s ease-out;
}
#contact-note div {
    text-align: right;
}
#contact-note:hover {
    color: var(--highlightcolor);
    background-color: var(--bghighlightcolor);
    cursor: pointer;
}
main {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-items: center;
}
aside {
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: stretch;
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    width: 270px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}
aside > * {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px 25px;
}
aside * {
    transition: height 0.2s ease,
                color 0.2s ease,
                background-color 0.2s ease !important;
    overflow: hidden;
}
aside .btn, aside input {
    margin: inherit;
    margin-bottom: 10px;
}
.sidebar-highlight {
    height: 20px;
}
.sidebar-highlight:hover {
    background-color: var(--darkcolor);
    cursor: pointer;
}
.user-data {
    color: var(--darkcolor);
    font-weight: bold;
}
#board-container {
    margin: 20px;
}
#board {
    position: relative;
    background-color: var(--primarycolor);
    background-image: url(../images/checkered-board.svg);
    background-size: cover;
    border: 1px solid var(--darkcolor);
    border-radius: 10px;
    height: var(--board-size);
    width: var(--board-size);
    padding: 0;
}
.board-piece-container {
    margin: 0;
    padding: 0;
}
.board-highlight-container {
    margin: 0;
    padding: 0;
}
.piece {
    position: absolute;
    height: var(--cell-size);
    width: auto;
    z-index: 1;
    transition: all 250ms ease-in-out;
}
.piece:hover, .highlighted-cell:hover {
    cursor: pointer;
}
.captured-piece {
    position: static;
    height: 80%;
    margin: auto;
    padding: 0px 1px;
}
.highlighted-cell, .selected-cell {
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    box-sizing: border-box;
}
.highlighted-cell {
    background-color: var(--cellhighlight);
    border: 1px solid var(--cellhighlightborder);
}
.selected-cell {
    background-color: var(--cellselection);
    border: 1px solid var(--cellselectionborder);
}
.game-info {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: stretch;
    color: var(--darkcolor);
    margin: 0px;
    padding: 5px 10px;
    height: calc(var(--cell-size) * 0.5);
    width: auto;
    border-radius: 5px;
    transition: height 0.2s ease;
}
.name {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
}
.captured-pieces {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.overlay {
    display: flex;
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlaycolor);
    transition: opacity 500ms;
    opacity: 0;
}
.overlay-show {
    opacity: 1;
    z-index: 2;
}
#board-alert-box {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    padding: 15px;
    background-color: var(--board-alert-bg);
    color: var(--darkcolor);
    border-radius: 10px;
    margin: auto;
    height: auto;
    width: 50%;
    transition: all 0.5s ease-in-out;
}
#board-alert-box .btn {
    width: 60%;
    margin-top: 12px;
    margin-bottom: 8px;
}
#board-alert-box .title {
    margin: 0px 20px 0px 0px;
    padding: 5px;
    font-weight: bold;
}
#board-alert-box .content {
    margin: 0;
    padding: 10px 5px 5px 5px;
    font-size: smaller;
    text-align: justify;
    overflow: auto;
}
#board-alert-box .close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 15px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
#board-alert-box .close-btn:hover {
    color: var(--highlightcolor);
    cursor: pointer;
}
#promotion-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: calc(var(--cell-size) * 0.7);
    column-gap: 5px;
    justify-content: center;
    justify-self: center;

}
#promotion-btns > div {
    width: calc(var(--cell-size) * 0.7);
    background-size: cover;
    border: 1px ridge grey;
}
#promotion-btns > div:hover {
    cursor: pointer;
    border: 1px ridge var(--highlightcolor);
    background-color: var(--primarycolor);
}
.background-black-knight {
    background-image: url(../images/pieces/black-knight.png);
}
.background-black-bishop {
    background-image: url(../images/pieces/black-bishop.png);
}
.background-black-rook {
    background-image: url(../images/pieces/black-rook.png);
}
.background-black-queen {
    background-image: url(../images/pieces/black-queen.png);
}
.background-white-knight {
    background-image: url(../images/pieces/white-knight.png);
}
.background-white-bishop {
    background-image: url(../images/pieces/white-bishop.png);
}
.background-white-rook {
    background-image: url(../images/pieces/white-rook.png);
}
.background-white-queen {
    background-image: url(../images/pieces/white-queen.png);
}
#right-container {
    display: block;
    background-color: var(--secondarycolor);
    color: var(--lightcolor);
    margin: 20px;
    border-radius: 15px;
    width: calc(100% - 40px);
}
.table-header {
    text-align: center;
    margin: 0px;
    padding: 10px 25px 0px 25px;
}
.move-table-content {
    background-color: var(--lightcolor);
    color: var(--darkcolor);
    margin: 10px 30px;
    padding: 15px;
    height: 180px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: smaller;
}
.move-table-item {
    white-space: pre-wrap;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.btn-container .btn {
    width: 50%;
    margin: auto;
}
/* #chat-box {
    background-color: var(--lightcolor);
    color: var(--darkcolor);
    margin: 10px;
    margin-bottom: 5px;
    padding: 7px;
    min-height: 100px;
    height: 1fr;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 15px;
}
#chat-box:hover {
    cursor: text;
}
#chat-input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 10px;
    margin-top: 5px;
}
#chat-input {
    margin: 0px;
    border: 1px solid var(--darkcolor);
    border-radius: 5px;
}
#chat-btn {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    width: 50px;
    border: none;
    border-radius: 5px;
}
#chat-btn:hover {
    cursor: pointer;
} */
footer {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    font-size: smaller;
    display: grid;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    grid-template-rows: 20px 20px auto;
}
#foot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 50px;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}
.foot-grid-title {
    grid-column: 1 / 5;
    text-align: center;
}
.footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    transition: color 0.3s ease;
}
.footer-link:hover {
    color: var(--highlightcolor);
    cursor: pointer;
}
.footer-link > * {
    padding: 2px 4px;
}
.foot-icon {
    font-size: 0.9em;
}

@media(max-width: 1200px){
    aside {
        width: 200px;
    }
    #random-opponent-btn {
        height: 40px;
    }
}

@media(max-width: 1020px){
    main {
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
    }
    #right-container {
        grid-column: 1 / 3;
        width: calc(100% - 100px);
    }
    .move-table-content {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 730px){
    main {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    aside {
        grid-column: 1 / 2;
        width: var(--board-size);
    }
    #board-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #right-container {
        grid-column: 1 / 2;
        width: var(--board-size);
    }
    #random-opponent-btn {
        height: 20px;
    }
    .user-data {
        display: none;
    }
    aside .btn, aside input {
        margin: auto;
        margin-bottom: 10px;
    }
    .btn {
        width: 40%;
    }
    input {
        width: 60%;
    }
    #promotion-btns {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: calc(var(--cell-size));
        row-gap: 24px;
        justify-items: center;
        padding-bottom: 12px;
    }
    #promotion-btns > div {
        width: calc(var(--cell-size));
    }
}

@media(max-width: 510px){
    :root {
        --board-size: calc(100vw - 80px);
        --cell-size: calc(var(--board-size) / 8);
    }
    aside {
        width: var(--board-size);
    }
    aside .btn, aside input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #right-container {
        width: var(--board-size);
    }
    #board-alert-box {
        font-size: smaller;
    }
    .options {
        margin-bottom: 5px;
    }
    .btn {
        height: 35px;
        width: 75%;
    }
    input {
        height: 35px;
        width: 75%;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    #foot-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: 42px;
        padding-top: 40px;
    }
    .foot-grid-title {
        grid-column: 1 / 2;
        padding-bottom: 20px;
    }
}

@media(max-width: 440px){
    #board-alert-box {
        font-size: smaller;
        width: 60%;
    }
    #board-alert-box .btn {
        width: 75%;
    }
}