
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Chess Online
        </title>
        <script src="https://kit.fontawesome.com/0afa017979.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="slide-left">
                <h1 id="title">
                    CHESS
                </h1>
                <h3 id="subtitle">
                    FREE ONLINE MULTIPLAYER CHESS
                </h3>
            </div>
            <a id="contact-note" class="slide-right" href="https://andresaranda.github.io/" target="_blank" rel="noreferrer noopener">
                <div>
                    made by 
                </div>
                <div>
                    Andrés Aranda
                </div>
            </a>
        </header>
        <main>
            <aside id="sidebar" class="slide-left">
                <div class="user-data">
                    <br>
                </div>
                <div id="quick-game-btn" class="sidebar-highlight">
                    Quick Game
                </div>
                <div id="quick-game-options" class="hidden options">
                    <input id="quick-game-input" type="text" spellcheck="false" placeholder="Enter name...">
                    <div id="quick-game-input-alert" class="alert hidden"></div>
                    <button id="quick-game-input-btn" class="btn">
                        Start
                    </button>
                    <button id="quick-game-random-btn" class="btn">
                        Random name
                    </button>
                </div>
                <!-- <div id="log-in-btn" class="sidebar-highlight">
                    Log In
                </div> -->
                <!-- <div id="new-player-btn" class="sidebar-highlight">
                    New Player
                </div> -->
                <div id="log-out-btn" class="sidebar-highlight hidden">
                    Log Out
                </div>
                <div id="log-out-options" class="hidden options">
                    <button id="log-out-confirm-btn" class="btn">
                        Confirm Log Out
                    </button>
                </div>
                <!-- <div id="load-game-btn" class="sidebar-highlight">
                    Load Old Game
                </div> -->
                <div id="new-game-btn" class="sidebar-highlight hidden">
                    New Game
                </div>
                <div id="new-game-options" class="hidden options">
                    <button id="new-game-color-white" class="btn">White</button>
                    <button id="new-game-color-random" class="btn">Random</button>
                    <button id="new-game-color-black" class="btn">Black</button>
                </div>
                <div id="join-game-btn" class="sidebar-highlight hidden">
                    Join Game
                </div>
                <div id="join-game-options" class="hidden options">
                    <input id="join-game-input" type="text" spellcheck="false" placeholder="Friend's username...">
                    <div id="join-game-input-alert" class="alert hidden"></div>
                    <button id="join-game-input-btn" class="btn">
                        Join
                    </button>
                </div>
                <div id="random-opponent-btn" class="sidebar-highlight hidden">
                    Find Random Opponent
                </div>
                <div id="random-opponent-options" class="hidden options">
                    <div id="random-opponent-alert" class="alert"></div>
                </div>
            </aside>
            <div id="board-container"  class="slide-left">
                <div id="opponent-info" class="game-info hidden">
                    <div class="name"></div>
                    <div class="captured-pieces"></div>
                </div>
                <div id="board">
                    <div class="overlay hidden">
                        <div id="board-alert-box" class="hidden">
                            <div class="title">
                                Welcome!
                            </div>
                            <button class="close-btn">&times;</button>
                            <div class="content">
                                Press Log-in in left menu to start playing: pick a username or press Random Name for an automated one.
                            </div>
                            <button class="join-btn btn hidden">JOIN</button>
                            <button class="ignore-btn btn hidden">IGNORE</button>
                            <button class="cancel-btn btn hidden">CANCEL GAME</button>
                            <button class="confirm-resign-btn btn hidden">RESIGN</button>
                            <button class="accept-draw-btn btn hidden">ACCEPT DRAW</button>
                            <button class="deny-draw-btn btn hidden">DENY</button>
                            <div id="promotion-btns" class="hidden">
                                <div id="promotion-type-knight-btn"></div>
                                <div id="promotion-type-bishop-btn"></div>
                                <div id="promotion-type-rook-btn"></div>
                                <div id="promotion-type-queen-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="player-info" class="game-info hidden">
                    <div class="name"></div>
                    <div class="captured-pieces"></div>
                </div>
            </div>
            <div id="right-container"  class="slide-right">
                <div id="move-table">
                    <div class="table-header">
                        LAST MOVES
                    </div>
                    <div class="move-table-content"></div>
                </div>
                <div class="btn-container">
                    <button id="resign-btn" class="btn">Resign</button>
                </div>
                <div class="btn-container">
                    <button id="draw-btn" class="btn">Draw</button>
                </div>
                <!-- <div id="chat-table">
                    <div id="chat-box"></div>
                    <div id="chat-input-container">
                        <input id="chat-input" type="text" placeholder="Enter message...">
                        <button id="chat-btn">SEND</button>
                    </div>
                </div> -->
            </div>
        </main>
        <footer>
            <div>
                Free online multiplayer chess
            </div>
            <div>
                Created by Andrés Aranda under an MIT license
            </div>
            <div id="foot-grid">
                <div class="foot-grid-title">
                    Contact information:
                </div>
                <a class="footer-link" href="mailto:aaranda@pucp.edu.pe" target="_blank" rel="noreferrer noopener">
                    <div>
                        <i class="far fa-envelope foot-icon"></i>
                    </div>
                    <div>
                        aaranda@pucp.edu.pe
                    </div>
                </a>
                <a class="footer-link" href="tel:+51-991-099-482" target="_blank" rel="noreferrer noopener">
                    <div>
                        <i class="fas fa-phone-alt foot-icon"></i>
                    </div>
                    <div>
                        +51-991-099-482
                    </div>
                </a>
                <a class="footer-link" href="https://andresaranda.github.io/" target="_blank" rel="noreferrer noopener">
                    <div>
                        <i class="fab fa-github-alt foot-icon"></i>
                    </div>
                    <div>
                        andresaranda.github.io
                    </div>
                </a>
            </div>
        </footer>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/game-client.js"></script>
</html>